* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  
  body {
    display: flex;

    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  }